[Desktop Entry]
Name=FS-UAE
Comment=FS-UAE Amiga Emulator
TryExec=fs-uae
Exec=fs-uae %f
StartupNotify=true
Terminal=false
Type=Application
Icon=net.fs_uae.FS-UAE
Categories=System;Emulator;
NoDisplay=true
MimeType=application/x-adf
