



*-swp
*.a
*.autosave
*.core
*.creator.user
*.dbg
*.dll
*.exe
*.la
*.lo
*.log
*.mo
*.o
*.pot
*.ppa.upload
*.pyc
*.sav
*.sdf
*.swp
*.tar.gz
*.tar.xz
*.trs
*.uss
*.zip
*~
.deps
.dirstamp
.pydevproject
/*.adf
/*.cfg
/*.changes
/*.conf
/*.deb
/*.dsc
/*.ipf
/*.json
/*.key
/*.nvr
/*.out.*
/*.raw
/*.rom
/*.uae
/.obj
/Frameworks/
/Makefile
/Makefile.in
/SDL-*
/SERIES
/VERSION
/aclocal.m4
/amiga/
/autom4te.cache/
/build/linux-dist/*-linux-*
/build/linux-dist/*-steamos-*
/build/linux-dist/Makefile
/build/steamos-dist/Makefile
/compile
/confdefs.h
/config.guess
/config.h
/config.h.in
/config.status
/config.sub
/configure
/configure.scan
/conftest.c
/conftest.err
/depcomp
/desktop/
/dist/linux/Makefile
/dist/macosx/Info.plist
/dist/macosx/Makefile
/dist/macosx/fs-uae*
/dist/steamos/Makefile
/dist/windows/Makefile
/dist/windows/fs-uae.iss
/fontconfig/
/gen
/gen
/install-sh
/libcapsimage
/libfs-capsimage
/libmpeg2/.auto/
/libmpeg2/Makefile
/libmpeg2/Makefile.in
/libmpeg2/aclocal.m4
/libmpeg2/config.status
/libmpeg2/configure
/libmpeg2/doc/Makefile
/libmpeg2/doc/Makefile.in
/libmpeg2/include/Makefile
/libmpeg2/include/Makefile.in
/libmpeg2/include/config.h
/libmpeg2/include/config.h.in
/libmpeg2/include/stamp-h1
/libmpeg2/libmpeg2/.libs/
/libmpeg2/libmpeg2/Makefile
/libmpeg2/libmpeg2/Makefile.in
/libmpeg2/libmpeg2/convert/.libs/
/libmpeg2/libmpeg2/convert/Makefile
/libmpeg2/libmpeg2/convert/Makefile.in
/libmpeg2/libmpeg2/convert/libmpeg2convert.pc
/libmpeg2/libmpeg2/libmpeg2.pc
/libmpeg2/libtool
/libmpeg2/libvo/Makefile
/libmpeg2/libvo/Makefile.in
/libmpeg2/m4/libtool.m4
/libmpeg2/m4/ltoptions.m4
/libmpeg2/m4/ltsugar.m4
/libmpeg2/m4/ltversion.m4
/libmpeg2/m4/lt~obsolete.m4
/libmpeg2/src/.libs/
/libmpeg2/src/Makefile
/libmpeg2/src/Makefile.in
/libmpeg2/src/corrupt_mpeg2
/libmpeg2/src/extract_mpeg2
/libmpeg2/src/mpeg2dec
/libmpeg2/test/Makefile
/libmpeg2/test/Makefile.in
/libmpeg2/vc++/Makefile
/libmpeg2/vc++/Makefile.in
/libs/
/missing
/obj
/osc
/out
/scan-build
/stamp-h1
/state
/test-driver
/windows/Makefile
/windows/fs-uae*_windows*
/windows/fs-uae.iss
autom4te.cache
base-dir
build68k
core
fs-uae
fs-uae-[0-9]*
fs-uae-dbg-[0-9]*
fs-uae-device-helper
fs-uae-with-dat
fs-uae.dat
fs-uae.rc
fs-uae_[0-9]*
genblitter
gencomp
gencpu
genlinetoscr
libcapsimage.dylib
libfs-capsimage.dylib
libfsemu/obj
libfsemu/out
libuae/od-win32/lib
log
src/od-win32/lib
temp
util/temp
winuae/od-win32/lib
xxx*
