base-dir
autom4te.cache
dist
/a
/fs-uae
/fs-uae.dat
/fs-uae-with-dat
/fs-uae-device-helper
/gen
*.ppa.upload
*.pyc
*.a
*.o
*.la
*.lo
*.dbg
*.creator.user
/osc
/libfs-capsimage
/*.dsc
/*.changes
/libcapsimage
/scan-build
libcapsimage.dylib
libfs-capsimage.dylib
/fs-uae-[0-9]*
/fs-uae_[0-9]*
/fs-uae-dbg-[0-9]*
*.autosave
*.tar.gz
*.tar.xz
/*.cfg
/*.conf
/*.uae
.pydevproject
*.swp
*-swp
*.uss
*.sav
*.sdf
*.log
*.trs
/obj
/.obj
/out
/gen
build68k
genblitter
gencpu
gencomp
genlinetoscr
log
/*.adf
/*.key
/*.ipf
/*.rom
/*.json
/*.raw
/*.nvr
/state

/windows/fs-uae*_windows*

/macosx/fs-uae*

/build/linux-dist/*-linux-*
/build/linux-dist/*-steamos-*
/build/linux-dist/Makefile
/build/steamos-dist/Makefile

/*.deb
*.zip
/desktop/
/amiga/
/Frameworks/
/fontconfig/
/SDL-*
/*.out.*
xxx*
src/od-win32/lib
libuae/od-win32/lib
winuae/od-win32/lib
util/temp
temp
*.exe
*.dll
*.mo
*.pot
*.core
*~
libfsemu/obj
libfsemu/out
core
/libs/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.status
/configure
/configure.scan
/install-sh
/test-driver
/missing
/stamp-h1
/compile
/depcomp
/config.guess
/config.sub
.deps
.dirstamp
/macosx/Info.plist
/macosx/Makefile
/qemu
/SERIES
/VERSION
/windows/fs-uae.iss
/windows/Makefile
/confdefs.h
/conftest.c
/conftest.err

libmpeg2/aclocal.m4
libmpeg2/.auto/
libmpeg2/config.status
libmpeg2/configure
libmpeg2/doc/Makefile
libmpeg2/doc/Makefile.in
libmpeg2/include/config.h
libmpeg2/include/config.h.in
libmpeg2/include/Makefile
libmpeg2/include/Makefile.in
libmpeg2/include/stamp-h1
libmpeg2/libmpeg2/convert/libmpeg2convert.pc
libmpeg2/libmpeg2/convert/.libs/
libmpeg2/libmpeg2/convert/Makefile
libmpeg2/libmpeg2/convert/Makefile.in
libmpeg2/libmpeg2/libmpeg2.pc
libmpeg2/libmpeg2/.libs/
libmpeg2/libmpeg2/Makefile
libmpeg2/libmpeg2/Makefile.in
libmpeg2/libtool
libmpeg2/libvo/Makefile
libmpeg2/libvo/Makefile.in
libmpeg2/m4/libtool.m4
libmpeg2/m4/lt~obsolete.m4
libmpeg2/m4/ltoptions.m4
libmpeg2/m4/ltsugar.m4
libmpeg2/m4/ltversion.m4
libmpeg2/Makefile
libmpeg2/Makefile.in
libmpeg2/src/corrupt_mpeg2
libmpeg2/src/extract_mpeg2
libmpeg2/src/.libs/
libmpeg2/src/Makefile
libmpeg2/src/Makefile.in
libmpeg2/src/mpeg2dec
libmpeg2/test/Makefile
libmpeg2/test/Makefile.in
libmpeg2/vc++/Makefile
libmpeg2/vc++/Makefile.in
