build
dist
/a
/fs-uae
/fs-uae-device-helper
/gen
*.ppa.upload
*.pyc
*.o
/osc
/libfs-capsimage
/*.dsc
/*.changes
/libcapsimage
libcapsimage.dylib
libfs-capsimage.dylib
/fs-uae-[0-9]*
/fs-uae_[0-9]*
*.tar.gz
/*.cfg
/*.conf
/*.uae
.pydevproject
*.swp
*-swp
*.uss
*.sav
*.sdf
*.log
/obj
/out
/gen
build68k
genblitter
gencpu
gencomp
genlinetoscr
log
/*.adf
/*.key
/*.ipf
/*.rom
/*.json
/*.raw
/*.nvr
/state
windows/fs-uae*_windows*
macosx/fs-uae*
/*.deb
*.zip
/desktop/
/test/
/amiga/
/Frameworks/
/SDL-*
/*.out.*
xxx*
src/od-win32/lib
libuae/od-win32/lib
winuae/od-win32/lib
util/temp
temp
*.exe
*.dll
*.mo
*.pot
*.core
*~
libfsemu/obj
libfsemu/out
core
/libs/

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.status
/configure
/install-sh
/missing
/stamp-h1
/compile
/depcomp
/config.guess
/config.sub
.deps
.dirstamp

/Makefile.ac
/Makefile.ac.in
