Source: fs-uae
Section: otherosfs
Priority: extra
Maintainer: Frode Solheim <fs-uae@fengestad.no>
Build-Depends: debhelper (>= 7.0.50~), libsdl1.2-dev, libglib2.0-dev, libopenal-dev, gettext
Standards-Version: 3.8.4
Homepage: http://www.fengestad.no/fs-uae
#Vcs-Git: git://git.debian.org/collab-maint/fs-uae.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/fs-uae.git;a=summary

Package: fs-uae
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cross-platform Amiga emulator based on UAE/WinUAE
 FS-UAE is a cross-platform Amiga emulator based on updated emulation code
 from WinUAE. FS-UAE uses SDL for input, OpenAL for audio and OpenGL
 for graphics.
