Source: fs-uae
Section: otherosfs
Priority: extra
Maintainer: Frode Solheim <fs-uae@fengestad.no>
Build-Depends: debhelper (>= 9), libsdl2-dev, libglib2.0-dev, libopenal-dev, gettext, libfreetype6-dev, libxi-dev, libpng-dev, zlib1g-dev, libmpeg2-4-dev, zip, libjpeg-dev, libglew-dev, libxtst-dev
Standards-Version: 3.9.4
Homepage: http://fs-uae.net/

Package: fs-uae
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cross-platform Amiga emulator based on UAE/WinUAE
 FS-UAE is a cross-platform Amiga emulator based on updated emulation code
 from WinUAE. FS-UAE uses SDL for input, OpenAL for audio and OpenGL
 for graphics.
