name: Windows

on:
  push:
    branches:
      - master
      - beta
      - stable
  pull_request:
    branches:
      - master
      - beta
      - stable

jobs:
  Windows_x86-64:
    runs-on: windows-2016

    env:
      UPLOAD_ENABLED: ${{ secrets.DROPBOX_ACCESS_TOKEN }}

    defaults:
      run:
        shell: msys2 {0}

    steps:
    - uses: msys2/setup-msys2@v2
      with:
        update: true
        install: >-
          autoconf
          automake
          base-devel
          gettext
          git
          libtool
          make
          mingw-w64-x86_64-cmake
          mingw-w64-x86_64-gcc
          mingw-w64-x86_64-ducible
          mingw-w64-x86_64-icoutils
          mingw-w64-x86_64-meson
          mingw-w64-x86_64-openal
          mingw-w64-x86_64-pkg-config
          mingw-w64-x86_64-python
          mingw-w64-x86_64-python-pip
          mingw-w64-x86_64-python2
          tar
          unzip
          zip

    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Cache dependencies
      uses: actions/cache@v2
      id: fsdeps_cache
      with:
        path: fsdeps/_prefix
        key: fsdeps_${{ hashFiles('fsdeps/**/*') }}_${{ runner.os }}

    - name: Build dependencies
      if: steps.fsdeps_cache.outputs.cache-hit != 'true'
      run: fsdeps/make

    - name: Update version
      run: fsbuild/version

    - name: Bootstrap
      run: fsdeps/use fsbuild/bootstrap

    - name: Configure
      run: fsdeps/use fsbuild/configure

    - name: Make
      run: fsdeps/use fsbuild/make

    - name: Bundle
      run: fsbuild/bundle

    - name: Archive
      run: fsbuild/archive

    - uses: actions/upload-artifact@v2
      with:
        name: Windows_x86-64
        path: fsbuild/_dist/*

    - name: Upload build to Dropbox folder
      if: >-
        env.UPLOAD_ENABLED != null && (
        github.ref == 'refs/heads/master' ||
        github.ref == 'refs/heads/dev' ||
        github.ref == 'refs/heads/stable'
        )
      run: |
        python3 -m pip install dropbox
        fsbuild/upload
      env:
        DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        DROPBOX_ACCESS_TOKEN: ${{ secrets.DROPBOX_ACCESS_TOKEN }}
