name: Windows

on:
  push:
    branches:
      - actions
      - beta
      - master
      - stable
  pull_request:
    branches:
      - beta
      - master
      - stable

jobs:
  Windows_x86-64:
    runs-on: windows-2019

    env:
      UPLOAD_ENABLED: ${{ secrets.DROPBOX_ACCESS_TOKEN }}

    defaults:
      run:
        shell: msys2 {0}

    steps:
      - uses: msys2/setup-msys2@v2
        with:
          update: true
          install: >-
            autoconf
            automake
            base-devel
            gettext
            git
            libtool
            make
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-ducible
            mingw-w64-x86_64-icoutils
            mingw-w64-x86_64-meson
            mingw-w64-x86_64-openal
            mingw-w64-x86_64-pkg-config
            mingw-w64-x86_64-python
            mingw-w64-x86_64-python-pip
            tar
            unzip
            zip

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache dependencies
        uses: actions/cache@v4
        id: fsdeps_cache
        with:
          path: fsdeps/_prefix
          key: fsdeps_${{ hashFiles('fsdeps/**/*') }}_${{ runner.os }}

      - name: Build dependencies
        if: steps.fsdeps_cache.outputs.cache-hit != 'true'
        run: |
          fsdeps/make

      - name: Update version
        if: hashFiles('fsbuild/version') != ''
        run: |
          fsbuild/version

      - name: Bootstrap
        if: hashFiles('fsbuild/bootstrap') != ''
        run: |
          fsdeps/use fsbuild/bootstrap

      - name: Configure
        if: hashFiles('fsbuild/configure') != ''
        run: |
          fsdeps/use fsbuild/configure

      - name: Build
        run: |
          fsdeps/use fsbuild/make

      - name: Bundle
        run: |
          fsbuild/bundle

      - name: Archive
        run: |
          fsbuild/archive

      - uses: actions/upload-artifact@v4
        with:
          name: Windows_x86-64
          path: fsbuild/_dist/*

      - name: Upload build to Dropbox folder
        if: >-
          env.UPLOAD_ENABLED != null && (
            github.ref == 'refs/heads/master' ||
            github.ref == 'refs/heads/dev' ||
            github.ref == 'refs/heads/beta' ||
            github.ref == 'refs/heads/stable'
          )
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          DROPBOX_ACCESS_TOKEN: ${{ secrets.DROPBOX_ACCESS_TOKEN }}
        run: |
          python3 -m pip install dropbox==11.23.0
          fsbuild/upload
